<h1>Projects</h1>


<ul>
  <% @projects.all %>
</ul>

<% if @projects.any? %>
  <h4>Here are 6 projects:</h4>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Header</th>
        <th>URL Address</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.top_six_most_recent.each do |project| %>
        <tr>
          <td><%= link_to project.title, project_path(project) %></td>
          <td><%= project.header %></td>
          <td><%= project.url %></td>
        </tr>
        <% end %>
      </ul>
      <% else %>
        <p>There are no projects!</p>
      <% end %>
    </tbody>
  </table>
  <br>
<%= link_to "Create a new Project", new_project_path %>
